.dashboard-content .content-box table,
tr,
td {
  border-collapse: collapse;
  border: 1px solid #ebebe4;
  font-size: 15px;
}
.sinhvien-info-box td,
.sinhvien-info-box tr {
  font-weight: 400;
  font-size: 14px;
}
.sinhvien-info-box td {
  padding: 5px;
  button {
    transition: all 0.5s ease-in-out;
    position: relative;
  }
  button:hover {
    color: #1f5ca8;
    border-color: rgba(31, 93, 168, 0.8);
    background-color: rgba(31, 93, 168, 0.15);
  }
}

@media screen and (min-width: 1536px) {
  .sinhvien-info .container {
    max-width: 1320px;
  }
}
